* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "header"
    "board";
}
.header {
    text-transform: capitalize;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.heading {
    border-bottom: solid 2px black;
    padding: 3.5rem;
}
.game {
    grid-area: board;
    display: flex;
    align-items: center;
    justify-content: center;
}
.board {
    /* border: solid 2px black; */
    height: 35rem;
    width: 27.5rem;
    display: flex;
    flex-direction: column;
}
.row {
    /* border: solid 2px black; */
    /* excellent use of flex-grow property sir! No width property needed! */
    flex-grow: 1;
    display: flex;
    padding: 0.5rem;
    gap: 0.5rem;

}
.square {
    border: solid 3.5px lightgray;
    flex-grow: 1;

}