* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "header"
    "board";
}
@keyframes rainbow {
    100%,
    0% {
      color: rgb(255, 0, 0);
    }
    8% {
      color: rgb(255, 127, 0);
    }
    16% {
      color: rgb(255, 255, 0);
    }
    25% {
      color: rgb(127, 255, 0);
    }
    33% {
      color: rgb(0, 255, 0);
    }
    41% {
      color: rgb(0, 255, 127);
    }
    50% {
      color: rgb(0, 255, 255);
    }
    58% {
      color: rgb(0, 127, 255);
    }
    66% {
      color: rgb(0, 0, 255);
    }
    75% {
      color: rgb(127, 0, 255);
    }
    83% {
      color: rgb(255, 0, 255);
    }
    91% {
      color: rgb(255, 0, 127);
    }
  }
  .winning {
    animation: rainbow 3.5s infinite linear;
  }
.header {
    margin-top: 1rem;
    text-transform: capitalize;
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.heading {
    border-bottom: solid 2px black;
    padding-bottom: 1.25rem;
}
@keyframes load {
    to {
        transform: rotate(-360deg);
    }
}
.result {
    animation: load 0.75s infinite linear;
    margin-top: 0.75rem;
    font-size: 50px;
}
.hide-loading {
  visibility: hidden;
}
.game {
    grid-area: board;
    display: flex;
    align-items: center;
    justify-content: center;
}
.board {
    height: 37rem;
    width: 27.5rem;
    display: flex;
    flex-direction: column;
}
.row {
    /* excellent use of flex-grow property sir! No width property needed! */
    flex-grow: 1;
    display: flex;
    padding: 0.5rem;
    gap: 0.5rem;

}
.square {
    border: solid 3.5px lightgray;
    /* flex-grow: 1; */
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}